<footer>
    <section class="ftr-content flex">
            <a href="/"><h1 class="logo">FilmFlix</h1></a>
            <div class="small-print flex">
                <article class="ftr-content-col flex">
                    <a class="ftr-link" href="/"><h4>FilmFlix Shop</h4></a>
                    <a class="ftr-link" href="/"><h4>Contact Us</h4></a>
                    <a class="ftr-link" href="/"><h4>Corp Information</h4></a>
                </article>
                <article class="ftr-content-col flex">
                    <a class="ftr-link" href="/"><h4>Ways To Watch</h4></a>
                    <a class="ftr-link" href="/"><h4>Help Center</h4></a>
                    <a class="ftr-link" href="/"><h4>FAQ</h4></a>
                </article>
                <article class="ftr-content-col flex">
                    <a class="ftr-link" href="/"><h4>Privacy Policy</h4></a>
                    <a class="ftr-link" href="/"><h4>Terms Of Use</h4></a>
                </article>
            </div>
        </section>
</footer>