<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/MovieList.css') }}">
        <title>FilmFlix - Add a new movie</title>
    </head>
    <body>
        <Section class="hero">
            <div class="hero-bg-shadow"></div>
            <div class="nav-container flex">
                <nav class="flex">
                    <a href="/"><h1 class="logo">FilmFlix</h1></a>
                    <div class="search flex">
                        <input type="text" name="nameQuery" id="search-bar">
                        <i class="bi bi-search"></i>
                    </div>
                </nav>
            </div>
        </Section>
        <main>
            <div class="opt-tabs flex">
                <div class="divider">|</div>
                <a href="/add-movie"><h3 class="opt-add-new">Add New Movie</h3></a>
                <div class="divider">|</div>
                <h3 class="opt-report">Make Report</h3>
                <div class="divider">|</div>
            </div>

            <section class="movie-table-container">
                <table class="movie-table">
                    <thead>
                        <tr class="tbl-keys">
                            <th class="tbl-key">Title</th>
                            <th class="tbl-key">Release</th>
                            <th class="tbl-key">Duration</th>
                            <th class="tbl-key">Rating</th>
                            <th class="tbl-key">Genre</th>
                            <th></th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td>G</td>
                                <td>Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td>G</td>
                                <td>Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td>G</td>
                                <td>Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td>G</td>
                                <td>Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="data-row">
                                <td>The Grinch</td>
                                <td>2017</td>
                                <td>120</td>
                                <td class="tbl-key">G</td>
                                <td class="tbl-key">Fantasy</td>
                                <td class="tbl-row-opt">
                                    <i class="bi bi-three-dots"></i>
                                    <ul class="row-opt-menu">
                                        <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                        <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </section>
        </main>
        <footer>
            <section class="ftr-content flex">
                <h1 class="logo">FilmFlix</h1>
                <div class="small-print flex">
                    <article class="ftr-content-col flex">
                        <a class="ftr-link" href="/"><h4>FilmFlix Shop</h4></a>
                        <a class="ftr-link" href="/"><h4>Contact Us</h4></a>
                        <a class="ftr-link" href="/"><h4>Corp Information</h4></a>
                    </article>
                    <article class="ftr-content-col flex">
                        <a class="ftr-link" href="/"><h4>Ways To Watch</h4></a>
                        <a class="ftr-link" href="/"><h4>Help Center</h4></a>
                        <a class="ftr-link" href="/"><h4>FAQ</h4></a>
                    </article>
                    <article class="ftr-content-col flex">
                        <a class="ftr-link" href="/"><h4>Privacy Policy</h4></a>
                        <a class="ftr-link" href="/"><h4>Terms Of Use</h4></a>
                    </article>
                </div>
            </section>
        </footer>
    </body>
</html>