{% extends 'Base.html' %}

{% block title %}FilmFlix - Full movie list{% endblock %}

{% block main %}
<main>
    <div class="opt-tabs flex">
        <div class="divider">|</div>
        <a href="/add-movie"><h3 class="opt-add-new">Add New Movie</h3></a>
        <div class="divider">|</div>
        <h3 class="opt-report">Make Report</h3>
        <div class="divider">|</div>
    </div>

    <section class="movie-table-container">
        <table class="movie-table">
            <thead>
                <tr class="tbl-keys">
                    <th class="tbl-key">Title</th>
                    <th class="tbl-key">Release</th>
                    <th class="tbl-key">Duration</th>
                    <th class="tbl-key">Rating</th>
                    <th class="tbl-key">Genre</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td>G</td>
                        <td>Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td>G</td>
                        <td>Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td>G</td>
                        <td>Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td>G</td>
                        <td>Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                    <tr class="data-row">
                        <td>The Grinch</td>
                        <td>2017</td>
                        <td>120</td>
                        <td class="tbl-key">G</td>
                        <td class="tbl-key">Fantasy</td>
                        <td class="tbl-row-opt">
                            <i class="bi bi-three-dots"></i>
                            <ul class="row-opt-menu">
                                <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                                <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                            </ul>
                        </td>
                    </tr>
                </tbody>
        </table>
    </section>
</main>
{% endblock %}