{% extends 'Base.html' %}

{% block title %}FilmFlix - Full movie list{% endblock %}

{% block main %}
<main id="movie-list-main" class="flex">
    <aside class="page-menu flex">
        <div class="custom-list-menu">
            <h3 class="custom-list-subhead">Collections</h3>

            <ul class="list-menu flex">
                <li class="list-menu-opt flex tab-focus" data-list-id="0">
                    <h4 class="list-name">All</h4>
                    <span class="quantity"><h4></h4></span>
                </li>

                <!-- 
                    <li class="list-menu-opt flex" data-list-id="...">
                    <h4 class="list-name">...</h4>
                    <span class="quantity"><h4>...</h4></span>
                    </li>
                -->

            </ul>
        </div>
        <div class="add-new-section flex">
            <a href="/api/add-movie">
                <button class="opt-add-new flex">
                    <h4>Add New Movie</h4><i class="bi bi-camera-reels-fill"></i>
                </button>
            </a>
            <a href="/api/custom-list">
                <button class="opt-add-new flex">
                    <h4>Make New Custom List</h4><i class="bi bi-collection-play-fill"></i>
                </button>
            </a>
        </div>
    </aside>

    <section class="movie-table-container flex" data-movies="{{ movies }}">
        <ul class="movie-register flex">
            <li class="flex">
                <h3 class="mv-title-card">title</h3>
                <div class="mv-details-card flex">
                    <span class="mv-release-card">2017</span>
                    <span class="mv-duration-card">120</span>
                    <span class="mv-rating-card">G</span>
                    <span class="mv-genre-card">fantasy</span>
                </div>
            </li>
        </ul>
        <table class="movie-table">
            <tbody">
                <h1 class="err-not-found">No Results found</h1>

                <!-- <tr class="mv-row">
                    <td class="mv-title">The Grinch</td>
                    <td class="mv-release">2017</td>
                    <td class="mv-duration">120</td>
                    <td class="mv-rating">G</td>
                    <td class="mv-genre">Fantasy</td>
                    <td class="tbl-row-opt">
                        <i class="bi bi-three-dots"></i>
                        <ul class="row-opt-menu">
                            <a href="#"><li class="row-option flex"><span>Update</span></li></a>
                            <a href="#"><li class="row-option flex"><span>Delete</span></li></a>
                        </ul>
                    </td>
                </tr> -->
                
            </tbody>
        </table>
    </section>
</main>
<div id="confirm-del-container" class="flex">
    <h2>The following movie will be deleted:</h2>
    <span class="movie-title-del"></span>
    <div class="confirm-del-btns flex">
        <button id="confirm-del">Confirm</button>
        <button id="cancel-del">Cancel</button>
    </div>
</div>
{% endblock %}