/* --------------------------------------------------------------------- header SECTION */

.header {
    width: 100vw;
    height: 250px;
    background-image: url('../assets/img/pexels-roberto-nickson-3131971.jpg');
    background-color: var(--clr-table-text);
    background-position: 0 69%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header a {
    text-decoration: none;
}

.header-bg-shadow {
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
    z-index: 5;
}
