
#movie-list-package {
    display: none;
}

.err-not-found {
    font-size: var(--fs-480);
    font-weight: var(--fw-bold);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate( 50%, 50% );
    color: var(--clr-rule);
    display: none;
}

/* --------------------------------------------------------------------- OPTION TABS */

.opt-tabs {
    width: min(400px, 80%);
    margin: 20px auto 0;
    padding: 0 10px;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

.opt-tabs a {
    text-decoration: none;
}

.opt-tabs h3 {
    font-size: var(--fs-160);
    font-weight: var(--fw-bold);
    height: fit-content;
    transition: ease-in-out 0.1s;
    user-select: none;
}

.opt-add-new:hover,
.opt-report:hover {
    transform: scale(1.05);
}

.opt-add-new:active,
.opt-report:active {
    color: var(--clr-accent);
}

.divider {
    font-size: var(--fs-240);
}

/* --------------------------------------------------------------------- MOVIE TABLE */

.movie-table-container {
    margin: 80px auto;
    width: fit-content;
    transform: translateX(5%);
}

.movie-table {
    width: 95%;
    max-width: 1150px;
    row-gap: 20px;
    border-spacing: 0;
    font-size: var(--fs-140);
}

thead {
    text-align: left;
    height: 50px;
    font-size: var(--fs-160)

}

tbody {
    display: block;
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

tbody::after {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    position: sticky;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(237, 237, 237, 1) 0%, rgb(153, 153, 153, 0) 100%);  
    color: rgba(237, 237, 237, 1)
}

tbody :last-child td {
    border-bottom: none;
}

tbody::-webkit-scrollbar {
    width: 7px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: var(--clr-rule);
    border-radius: 5px;
}


tr {
    display: table;
}

.movie-table tr {
    width: 100%;
    table-layout: fixed;
}

.movie-table td {
    height: 50px;
    border-bottom: 1px solid var(--clr-rule);
    user-select: none;
}

.tbl-keys :last-child {
    width: 67px;
}

.mv-title, .tbl-key:first-of-type {
    padding-left: 3%;
}


/* --------------------------------------------------------------------- OPTION MENU */

.movie-table .tbl-row-opt {
    width: 5%;
    padding: none;
    text-align: center;
    border-bottom: none;
    position: relative;
}

.row-opt-menu {
    width: 100px;
    display: none;
    background-color: var(--clr-main);
    transform: translate(-80%, -20%);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    transition: ease-in-out 0.2s;
    user-select: none;
    z-index: 300;
}

.row-opt-menu a {
    text-decoration: none;
}

.row-option {
    height: 40px;
    text-align: left;
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
    font-weight: var(--fw-bold);
    color: var(--clr-icon);
}

.row-option:hover {
    background-color: var(--clr-accent);
    color: var(--clr-main);
}

.row-option:active {
    background-color: var(--clr-translucent-hover);
    color: var(--clr-icon);
}

.row-option span { 
    padding-left: 0;
}

.movie-table .tbl-row-opt i {
    display: inline-block;
    aspect-ratio: 1/1;
    height: auto;
    width: 35px;
    border-radius: 30px;
    transition: ease-in-out 50ms;
    position: relative;
}

.movie-table .tbl-row-opt i:hover {
    background-color: var(--clr-accent);
    color: var(--clr-main);
    cursor: pointer;
}

.movie-table .tbl-row-opt i:active {
    background-color: var(--clr-translucent-hover);
    color: var(--clr-icon);
}

.movie-table .tbl-row-opt i::before {
    margin: 50% auto 0;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%)
}

/* ------------------------------- CONFIRM DELETE */

body:has(#confirm-del-container){
    position: relative;
}

#confirm-del-container {
    width: 350px;
    min-height: 150px;
    border-radius: 4%;
    padding: 30px 0;
    background-color: var(--clr-main);
    color: var(--clr-main-text);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-direction: column;
    align-items: center;
    position: sticky;
    left: 50%;
    bottom: 50%;
    transform: translate( -50%, 50% );
    justify-content: space-around;
    display:none;
}

#confirm-del-container h2 {
   font-size: var(--fs-180);
    font-weight: var(--fw-bold);
    width: 80%;
    height: fit-content;
}

.confirm-del-btns {
    width: 150px;
    flex-direction: row;
    margin-top: 10px;
    font-weight: bold;
    font-size: var(--fs-160);
    justify-content: space-between;
}

#confirm-del, #cancel-del{
    padding: 10px;
    border-radius: 3px;
    transition: ease-in-out 0.1s;
}

#confirm-del:active, #cancel-del:active {
    transform: scale(0.95);
}

#confirm-del {
    background-color: var(--clr-main);
    border: none;
}

#cancel-del {
    background-color: var(--clr-accent);
    color: var(--clr-main);
    border: none;
}

/* --------------------------------------------------------------------- RESPONSIVITY */

/* @media ( max-width: 1110px ){
    
    tbl-spacer {
        10%
    }

} */

@media ( max-width: 1170px ){
    
    .movie-table-container {
        margin: 80px 5% 0;
    }

}

@media ( max-width: 880px ){
    
    .movie-table tbody {
        overflow: visible;
    }

    .movie-table-container {
        width: 90%;
        margin: 80px auto;
        transform: translate(0);
        overflow-X: scroll;
    }

    .movie-table-container::-webkit-scrollbar {
        width: 7px;
    }
    
    .movie-table-container::-webkit-scrollbar-thumb {
        background-color: var(--clr-rule);
        border-radius: 5px;
    }

    .movie-table {
        width: 1300px;
    }

}