
#movie-list-main {
    height: auto;
    width: 100%;
    padding: 0 2%;
    gap: 5%;
    position: relative;
}

.movie-register-container {
    margin-top: 2.4rem;
    height: 75vh;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: relative;
    transition: ease-in-out 0.15s;
}

.movie-register-container.tabular-register {
    align-items: center;
    padding-right: .5rem;
}

.movie-register-container.non-tabular-register {
    padding-right: .2rem;
    align-items: center;
}

.movie-register-container::-webkit-scrollbar {
    width: 7px;
}

.movie-register-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-rule);
    border-radius: 5px;
}

.movie-register-container.tabular-register .movie-table {
    display: block;
}

.movie-register-container.non-tabular-register .movie-register {
    display: flex;
}

.movie-register-container.tabular-register .movie-register,
.movie-register-container.non-tabular-register .movie-table {
    display: none;
}

.err-not-found {
    font-size: var(--fs-480);
    font-weight: var(--fw-bold);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate( 50%, 50% );
    color: var(--clr-rule);
    display: none;
    text-align: center;
}

/* --------------------------------------------------------------------- SIDEBAR */

aside {
    width: 24rem;
    gap: 1.5rem;
    border-right: 1px solid var(--clr-aside-rule);
    padding: 3.3rem 1.8rem 2rem 3.7em;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: ease-in-out 0.15s;
    z-index: 200;
    background-color: var(--clr-main-bg);
}

aside.open {
    left: 0;
}

aside.closed {
    position: fixed;
    left: -24rem;
}

aside.open .bi-arrow-left-short {
    display: block;
}

aside.closed .bi-arrow-bar-right {
    display: block;
}

.bi-arrow-left-short {
    display: none;
    font-size: var(--fs-240);
    top: 1.5rem;
    right: 2rem;
}

.bi-arrow-bar-right {
    display: none;
    font-size: var(--fs-240);
    top: 1rem;
    right: -4.2rem;
}

.bi-arrow-left-short,
.bi-arrow-bar-right {
    color: var(--clr-rule);
    transition: ease-in-out 0.15s;
    position: absolute;
}

.bi-arrow-left-short:hover,
.bi-arrow-bar-right:hover {
    transition-duration:  0.09s;
}

.bi-arrow-left-short:hover {
    transform: translateX(-0.15rem);
}

.bi-arrow-bar-right:hover {
    transform: translateX(0.15rem);
}

.bi-arrow-left-short:active,
.bi-arrow-bar-right:active {
    color: var(--clr-icon);
}

.custom-list-menu {
    max-height: 16.813rem;
    overflow: hidden;
}

.sidebar-overflow-container {
    transition: ease-in-out var(--td-drop-down-toggle);
    flex-direction: column;
    max-height: 11.761rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.sidebar-overflow-container::-webkit-scrollbar {
    display: none;
}

/* ----------------------- TASKBAR */

.register-taskbar {
    height: 1.4rem;
    margin: 1rem 0;
    flex-direction: row;
    gap: .8rem
}

.register-format-toggle {
    gap: .5rem;
}

.format-toggler, .filter-btn {
    padding: 0 .7rem;
    font-size: var(--fs-140);
    border-radius: .2rem;
    border: transparent;
}

.format-toggler {
    flex-direction: row;
    align-items: center;
    background-color: var(--clr-main-bg);
}

.format-toggler.active {
    background-color: var(--clr-accent-pastel);
    color: var(--clr-accent);
}

.format-toggler:hover:not( .format-toggler.active:hover) {
    background-color: var(--clr-aside-rule)
}

.filter-btn, .filter-btn.inactive {
    color: var(--clr-icon);
    background-color: var(--clr-aside-rule);
    letter-spacing: .03rem;
}

.filter-btn:hover, .filter-btn.active {
    background-color: var(--clr-accent-pastel);
}



.filter-btn:active, .format-toggler:active:not( .format-toggler.active:active ) {
    color: var(--clr-main);
}

/* TASKBAR ---< */

/* ----------------------- TASKBAR */

.filter-options, .filter-options.open {
    flex-direction: column;
    min-height: 8.56rem;
    max-height: 10rem;
    overflow-y: scroll;
    scrollbar-color: transparent;
    width: 100%;
    gap: 0.4rem;
    padding: 0.73rem  0.73rem 0.5rem;
    margin-bottom: 1.06rem;
    border-radius: 0.6rem;
    border: 1px solid var(--clr-aside-rule);
    transition: ease-in-out var(--td-drop-down-toggle);
    transform: translateX(0);
    position: relative;
}

.filter-options form {
    display: flex;
    flex-direction: column;
    gap: 0.27rem
}

.apply-filter-btn {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    width: 100%;
    background-color: var(--clr-accent);
    color: var(--clr-main);
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    font-size: var(--fs-110);
    padding: 0.13rem 0;
    transition: ease-in-out var(--td-btn-scale-up);
}

.apply-filter-btn:hover {
    transform: scale(0.95)
}

.apply-filter-btn:active {
    background-color: var(--clr-accent-pastel)
}

.filter-options::-webkit-scrollbar {
    display: none;
}

.filter-options.closed {
    display: none;
    height: 0;
}

.filter-options .filter-field {
    font-size: var(--fs-120);
}

.filter-label {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem 0.7rem;
    border-radius: 2rem;
    background-color: var(--clr-accent-pastel)
}

.filter-label:active {
    background-color: var(--clr-accent-pastel-002);
}

.filter-field {
    overflow: hidden;
    transition: ease-in var(--td-drop-down-toggle)
}

.filter-field.open .filter-field-opts {
    height: fit-content;
    display: flex;
}

.filter-field.closed .filter-field-opts {
    height: 0;
    display: none;
}

.filter-field i.bi-chevron-down {
    font-size: var(--fs-110);
    color: var(--clr-accent);
}

.filter-field.open i.bi-chevron-down::before {
    transform: rotate(0)
}

.filter-field.closed i.bi-chevron-down::before {
    transform: rotate(90deg)
}

.filter-field-opts {
    flex-direction: column;
    gap: 0.53rem;
    padding: 0.6rem 0;
}

.filter-selection {
    gap: 0.64rem;
    flex-direction: row;
    align-items: center;
}

.filter-selection, .filter-selection > *{
    height: 0.9rem;
}

.filter-field-opts input[type=checkbox]{
    width: 0.6rem;
    margin: 0.187rem 0 0 0.3rem;
    accent-color: var(--clr-accent);
}

.filter-field-opts :is( input[type=checkbox]:focus-visible, input[type=number]:focus-visible, input[type=checkbox]:focus, input[type=number]:focus ){
    outline: none;
}

.filter-field-opts:has( input[type=number] ){
    padding: 1.2rem 0.52rem;
}

.filter-field-opts input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.filter-field-opts input[type=number]{
    height: 0.965rem;
    width: 1.78rem;
    padding: 0 0.2rem;
    font-size: var(--fs-110);
    text-align: center;
}

.filter-field-opts label {
    font-size: var(--fs-110);
    margin: 0.2rem 0 0 0;
}

/* TASKBAR ---< */


.custom-list-subhead {
    font-size: var(--fs-180);
    font-weight: var(--fw-bold);
    margin-bottom: 1.2rem;
}

.list-menu {
    flex-direction: column;
    gap: 0.9rem;
    width: 100%;
}

.list-menu-opt, .opt-add-new {
    font-size: var(--fs-140);
    width: 100%;
    padding: 0.18rem 0.7rem;
    border-radius: 0.2rem
}

.list-menu-opt:hover {
    background-color: var(--clr-aside-rule);
}

.list-menu-opt:active {
    background-color: var(--clr-translucent-hover);
    transform: scale(1.005);
    transition: ease-in-out var(--td-btn-scale-up);
}

.list-menu-opt.tab-focus {
    background-color: var(--clr-accent-pastel-002);
    color: var(--clr-main);
    font-weight: var(--fw-bold)
}

.list-menu-opt {
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
}

.list-menu-opt .quantity {
    align-self: center;
    height: min-content;
}

.list-menu-opt .quantity h4 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-120);
}

.add-new-section {
    flex-direction: column;
    gap: 0.9rem;
}

.add-new-section a {
    text-decoration: none;
}

.opt-add-new {
    background-color: 'buttonface';
    color: var(--clr-main-text);
    justify-content: space-between;
    align-items: center;
    border: none;
    gap: 1rem;
}

.opt-add-new:hover {
    background-color: var(--clr-aside-rule);
    color: var(--clr-main-text);
}

.opt-add-new:active {
    background-color: var(--clr-accent-pastel);
    color: var(--clr-accent);
}

.opt-add-new * {
    font-weight: var(--fw-bold);
    text-align: left;
}

/* --------------------------------------------------------------------- MOVIE REGISTER */

.movie-register {
    width: 95%;
    max-width: 950px;
    flex-direction: column;
    gap: 1.5rem;
}

.mv-list-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-rule);
    padding-bottom: 1.2rem;
    gap: 2rem
}

.mv-list-item:last-of-type {
    border-bottom: none;
}

.mv-item-opt {
    margin-right: 0.5rem;
}

.main-item-content {
    min-width: 14.9rem;
    flex-direction: column;
    gap: .4rem;
}

.main-item-content .mv-item-title {
    font-size: var(--fs-160);
    font-weight: var(--fw-bold)
}

.mv-item-details {
    flex-direction: row;
    font-size: var(--fs-140);
    gap: .6rem;
}

.mv-item-details * {
    text-wrap: nowrap;
}

.item-details-divider {
    transform: translateY(-.05rem);
}

/* --------------------------------------------------------------------- MOVIE TABLE */

.movie-table {
    width: 95%;
    max-width: 1150px;
    row-gap: 20px;
    border-spacing: 0;
    font-size: var(--fs-140);
}

tbody {
    display: block;
    /* height: 39.8rem; */
    position: relative;
}

tbody :last-child td {
    border-bottom: none;
}

tr {
    display: table;
}

.movie-table tr {
    width: 100%;
    table-layout: fixed;
}

.movie-table td {
    height: 50px;
    border-bottom: 1px solid var(--clr-rule);
    user-select: none;
}

.mv-title, .tbl-key:first-of-type {
    padding-left: 3%;
}


/* --------------------------------------------------------------------- OPTION MENU */

.movie-register-container :is(.tbl-row-opt, .mv-item-menu){
    width: 5%;
    padding: none;
    text-align: center;
    border-bottom: none;
    position: relative;
}

.row-opt-menu {
    width: 100px;
    display: none;
    background-color: var(--clr-main);
    transform: translate(-80%, -20%);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    transition: ease-in-out 0.2s;
    user-select: none;
    z-index: 300;
}

.row-opt-menu:focus {
    outline: none;
}

.row-opt-menu a {
    text-decoration: none;
}

.row-option {
    height: 40px;
    text-align: left;
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
    font-weight: var(--fw-bold);
    color: var(--clr-icon);
}

.row-option:hover {
    background-color: var(--clr-accent);
    color: var(--clr-main);
}

.row-option:active {
    background-color: var(--clr-translucent-hover);
    color: var(--clr-icon);
}

.row-option span { 
    padding-left: 0;
}

.movie-register-container :is(.tbl-row-opt, .mv-item-opt) i {
    display: inline-block;
    aspect-ratio: 1/1;
    height: auto;
    width: 35px;
    border-radius: 30px;
    transition: ease-in-out 50ms;
    position: relative;
}

.movie-register-container :is(.tbl-row-opt, .mv-item-opt) i:hover {
    background-color: var(--clr-accent);
    color: var(--clr-main);
    cursor: pointer;
}

.movie-register-container :is(.tbl-row-opt, .mv-item-opt) i:active {
    background-color: var(--clr-translucent-hover);
    color: var(--clr-icon);
}

.movie-register-container :is(.tbl-row-opt, .mv-item-opt) i::before {
    margin: 50% auto 0;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%)
}

/* ------------------------------- CONFIRM DELETE */

body:has(#confirm-del-container){
    position: relative;
}

#confirm-del-container {
    width: 350px;
    min-height: 150px;
    border-radius: 4%;
    padding: 30px 0;
    background-color: var(--clr-main);
    color: var(--clr-main-text);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 250;
    transform: translate( -50%, 50% );
    justify-content: space-around;
    display:none;
}

#confirm-del-container h2 {
    font-size: var(--fs-160);
    font-weight: var(--fw-bold);
    text-align: center;
    width: 80%;
    height: fit-content;
}

#confirm-del-container .movie-title-del {
    font-size: var(--fs-160)
}

.confirm-del-btns {
    width: 150px;
    flex-direction: row;
    margin-top: 10px;
    font-weight: bold;
    font-size: var(--fs-160);
    justify-content: space-between;
}

#confirm-del, #cancel-del{
    padding: 10px;
    border-radius: 3px;
    transition: ease-in-out 0.1s;
}

#confirm-del:active, #cancel-del:active {
    transform: scale(0.95);
}

#confirm-del {
    background-color: var(--clr-main);
    border: none;
}

#cancel-del {
    background-color: var(--clr-accent);
    color: var(--clr-main);
    border: none;
}

/* --------------------------------------------------------------------- RESPONSIVITY */

@media ( max-width: 1090px ){
    aside.closed + .movie-register-container {
        padding: 0 7%;
    }
}

@media ( max-width: 770px ){
    aside.open {
        position: absolute;
        bottom: 0;
        top: 0;
        max-width: 90%;
        padding-left: 10%;
        box-shadow: 8px 0px 11px -8px rgba(0,0,0,0.1);
    }
    
    .opt-add-new {
        font-size: var(--fs-120)
    }
}

@media ( max-width: 450px ){
    .main-item-content {
        min-width: 12.4rem
    }

    .main-item-content .mv-item-title {
        font-size: var(--fs-140)
    }

    .mv-item-details {
        font-size: var(--fs-120)
    }
}