/* ------------------------------------------------------------------------------------- FONTS */

@font-face {
    font-family: "Broadway";
    src:
        url('../assets/fonts/Broadway/BROADW.eot') format('embedded-opentype'),
        url('../assets/fonts/Broadway/BROADW.woff2') format('woff2'),
        url('../assets/fonts/Broadway/BROADW.woff') format('woff'),
        url('../assets/fonts/Broadway/BROADW.TTF') format('truetype');
    font-weight: 400;
}

/* ------------------------------------------------------------------------------------- ROOT */

:root {

    /*  COLOURS  */
    --clr-accent: #33CA70;
    --clr-main: #ffffff;
    --clr-icon: #757D8A;
    --clr-main-text: #000000;
    --clr-table-text: #6D6D6D;
    --clr-main-bg: #ececec;
    --clr-rule: #BDBDBD;

    /*  FONT-FAMILY  */
    --ff-main: 'Satoshi', Sans-serif;
    --ff-title: 'Broadway';

    /*  FONTS SIZE  */
    --fs-120: 0.75rem;
    --fs-140: 0.875rem;
    --fs-160: 1rem;
    --fs-200: 1.25rem;
    --fs-240: 1.5rem;
    --fs-480: 3rem;

    /*  FONTS SIZE  */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;


}

/* ------------------------------------ RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-family: var(--ff-main);
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: rgb(27, 27, 27);
}

/* --------------------------------------------------------------------------- MAIN STYLES */

body {
    background-color: var(--clr-main-bg);
}

.flex {
    display: flex;
}

.green-highlight {
    color: var(--clr-accent);
}

/* --------------------------------------------------------------------- HERO SECTION */

.hero {
    width: 100vw;
    height: 250px;
    background-image: url('../assets/img/pexels-roberto-nickson-3131971.jpg');
    background-color: var(--clr-table-text);
    background-position: 0 69%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-bg-shadow {
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
    z-index: 5;
}

/* --------------------------------------------------------------------- NAV */

.nav-container {
    height: 60%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;
}

nav {
    width: 90%;
    height: 40px;
    background-color: var(--clr-main);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 2px;
}

.logo {
    font-family: var(--ff-title);
    font-size: var(--fs-240);
    color: var(--clr-accent)
}

.search {
    flex-direction: row;
    width: 210px;
    justify-content: space-between;
    margin-top: 2px;
    position: relative;
}

#search-bar {
    border: none;
    width: 170px;
    background-color: var(--clr-main-bg);
    transition: ease-in-out 0.3s;
    position: relative;
    z-index: 100;
    padding: 0 20px;
    color: var(--clr-table-text);
    font-weight: var(--fw-bold);
}

#search-bar:focus-visible {
    outline-color: var(--clr-accent);
}

.search i {
    background-color: var(clr --clr-main);
    position: relative;
    z-index: 120;
}

.search i:active {
    transform: scale(1.1);
}

/* ------------------------------------------------------------------------------------- MAIN */

main {
    width: 100%;
    padding: 30px 5% 0;
}

/* ------------------------------------------------------------------------------ FORM */

.subtitle {
    width: fit-content;
    font-size: var(--fs-240);
    font-weight: var(--fw-bold);
    margin: 0 auto;

}

form {
    margin: 50px auto;
    max-width: 700px;
    flex-direction: column;
    gap: 20px;
}

form * {
    display: block;
}

label {
    font-size: var(--fs-0);
    font-weight: var(--fw-bold);
    margin-bottom: 8px;
}

input, .input {
    height: 30px;
    width: 100%;
    border: 1px solid var(--clr-rule);
    border-radius: 4px;
    padding: 0 10px;
    letter-spacing: 0.5px;
    color: var(--clr-table-text);
    font-family: var(--ff-main);
    font-weight: var(--fw-bold);
}

.input {
    font-size: var(--fs-140);
}

input:focus, .input:focus {
    outline-offset: 1px;
    outline-color: #33CA70;
    outline-style: double;
}

.input-container {
    flex-direction: row;
    gap: 0;
}

#duration-input {
    max-width: 200px;
    border-radius: 4px 0 0 4px;
    position: relative;
    z-index: 100;
}

.input-container input[type='text'] {
    width: 10%;
    min-width: 55px;
    text-align: center;
    border-left: none;
    border-radius: 0 4px 4px 0;
    position: relative;
    z-index: 50;
}

.input-container input[type='text']:hover {
    cursor: default;
}

.input-container input[type='text']:focus {
    outline: none;
}

#duration-input:focus {
    .input-container input[type='text'] {
        outline: revert;
    }
}

input[type='submit'] {
    width: max(80%, 250px);
    height: 40px;
    margin: 30px auto 0;
    background-color: var(--clr-accent);
    border: 1px solid var(--clr-rule);
    color: var(--clr-main);
    transition: ease-in-out 50ms;
}

input[type='submit']:focus {
    outline: none;
}

input[type='submit']:active {
    transform: scale(0.98);
}

/* --------------------------------------------------------------------- FOOTER */

footer {
    width: 100%;
    height: fit-content;
    margin: 150px 0 70px;
    padding: 0 10%;
}

.ftr-content {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    font-size: var(--fs-120);
}

.small-print {
    max-width: 700px;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20%;
}

.ftr-content-col {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px
}
